.first-color { 
	background: #93e4c1; 
}

.second-color { 
	background: #3baea0; 
}

.third-color { 
	background: #118a7e; 
}

.fourth-color { 
	background: #1f6f78; 
}

.container {
    color:#3baea0;  
}

.top-bar, .top-bar ul, .top-bar-left, .menu-text, .menu {
	background-color: rgb(25, 222, 229);
}

a.nav-link:link {
	color: hsl(290, 73%, 45%);
	text-decoration: none;
  }
  a.nav-link:visited {
	color: hsl(290, 73%, 45%);
	text-decoration: none;
  }
  a.nav-link:hover {
	color: #fb3f00;
	text-decoration: none;
  }
  a.nav-link:active {
	color: #fb3f00;
	text-decoration: none;
	}